*, html, body, h1, p, div, section {
    margin: 0;
    padding:0; 
}

body{
}
.menu{
    width: 20%;
    height: 100%!important;
    background-color: #FA7268;
    position: fixed;
}

.menuFoto{
    width: 80px;
    height: 80px;
    background-color: white;
    margin-left: 35%;
    margin-top: 15%;
    border-radius: 100px;
    margin-bottom: 7%;
}

.menuFoto img{
    width:100%;
}

.menuName{
    text-align: center;
    margin-top: 3%;
    font-size: 18px;
    margin-bottom: 10%;
    color:white;
}

.menuName a{
    text-decoration: none;
}

.menuName a:hover{
    text-decoration: none;
}

.menu > nav ul a li{
    width: 88%;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    border-bottom: 1px solid white;
    cursor: pointer;
    padding: 5% 6%;
}

#inicio{
    border-top: 2px solid white;
    background-color: aquamarine;
}

.menu > nav ul a li:hover{
background-color: #84DDFF;
}

.logo {
    width: 100px;
    background-color:#84DDFF;
    border-radius: 100px; 
    border-top-left-radius: 0;
    margin: 28%;
}

.logo img{
    width: 100px;
}

.feed{
    margin-left: 20%;
    width: 80%;
    background-color: white;
    padding-top: 2%;
}

.texting{
    width: 50%;
    height: 20%;
    border: 1px solid rgba(0, 0, 0, 0.16);
    margin-left: 25%;
}

.edit{
    width: 100%;
    height: 15%;
    background-color: grey;
}

.text{
    width: 100%;
}

.tweet{
    overflow: hidden;
    margin-top: 5%;
    width: 50%;
    height: 25%;
    border: 1px solid rgba(0, 0, 0, 0.16);
    margin-left: 25%;
}

.tweetPt1{
    display: inline;
}

.tweetFoto{
    float: left;
    width: 70px;
    height: 70px;
    background-color: white;
    margin-left: 2%;
    margin-top: 3%;
    border-radius: 100px;
    margin-bottom: 6%;
}

.tweetFoto img{
    width:100%;
}

.tweetMsg{
    margin-top: 10%;
    float: left;
    margin-left: 2%;
}

.tweetPt2{
    background-color: aquamarine;
    width: 100%;
    height: 45px;
    padding-top: 1%;
}

.tweetPt2 img{
    width: 5%;
    margin-left: 2%;
}

#reply{
    margin-left: 80%;
}
.rodape{
    width: 80%;
    height: 80px;
    margin-left: 20%;
    background-color: black;
    position: fixed;
    bottom: 0;
    display: inline;
}

.rodape input{
    border: none;
    margin-top: 3%;
    margin-left: 50%;
    padding: .5%;
    border-radius: 7px;
}

.rodape button{
    font-family: arial;
    border-radius: 7px;
    padding: .5% 2%;;
    cursor: pointer;
    border: none;
}

.rodape button:hover{
    background-color: rgb(12, 192, 12);
}