/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/05/2019, 18:13:20
    Author     : Bárbara
    Resolução do projetor: 1024x768
*/


@media screen and (max-width: 400px) {
    /* 2 - INDEX */
    #principal { max-width: 400px;}
    .image-logo {margin: auto; margin-top: 10%; }
    /* 3 - CADASTRO */
    .image-logoCad img{ margin-left: 38%; margin-top: 4%;}
    .formCad h1{ margin-top: 20%; font-size: 28px; text-align: center;}
    .formCad p { margin-top: 2%; margin-left: 3%; font-size: 12px;}
    .pt1, .pt2 { margin-left: 2%; }
    .pt1 p{margin-left: 0px;}
    .pt2 p{margin-top: 3px; margin-left: 0px; padding-bottom: 1px;}
    .p2 input{height: 30px;}
    .pt1 p, .pt2 p{ font-size: 12px; }
    #cancelar { margin-left: 40%; border-radius: 3px; padding: 13px; margin-bottom: 5%;}
    #cadastrar{ border-radius: 3px; padding: 13px; margin-bottom: 5%;}
};

@media screen and (max-width: 800px) {
    /* 2 - INDEX */
    #principal { max-width: 400px;}
    .image-logo {margin: auto; margin-top: 25%; }
     /* 3 - CADASTRO */
    .image-logoCad img{ margin-left: 38%; margin-top: 4%;}
    .formCad h1{ margin-top: 20%; font-size: 28px; text-align: center;}
    .formCad p { margin-top: 2%; margin-left: 3%; font-size: 12px;}
    .pt1{ margin-left: 2%; width: 80%; }
    .pt1 input{ width: 100%; padding: 15px;}
    .pt1 p{margin-left: 0px;font-size: 12px; }
    #cancelar {margin-left: 22% !important;}
    /* 4 - RECUPERAR SENHA */ 
    .pt1Rec {margin-left: 7%; width: 76%;}
    .pt1Rec p{margin-left: 0%; font-size: 14px; width: 60%;}
    .pt1Rec input{ width: 100%; padding: 15px;
     #cancelarRec {margin-left: 25% !important;}
    /*5 - FEED */
    .menuFoto {width: 45%; margin-top: 35%; height: 10.5%; }
    .menuName {font-size: 14px; margin-bottom: -35px;}
    .menuName h2{font-size: 16px;}
    .fas {font-size: 14px;}
    #not-selected, #feed, #perfil, #conta {font-size: 11px;}
    .texting { width: 75%; margin-left: 15%}
    .botaoSend { margin-left: 72%; padding: 10px;}
    .comentar input[type=submit] { margin-top: 15%; margin-left: 31%;}
    .tweet {width: 70%; margin-left: 15%;}
    /* 6 - PERFIL */
    .perfil {width: 60%; margin-left: 20%;}
    /* 7 - CONTA */
    #cancelar { margin-left: 60%; border-radius: 3px; padding: 13px; margin-bottom: 5%;}
    #cadastrar{ border-radius: 3px; padding: 13px; margin-bottom: 5%;}
    .pt1, .pt2 { margin-left: 3.5%; }
    .formCad h2{ margin-left: 6%; font-size: 25px;}
};

@media screen and (max-width: 1024px) {
    /*5 - FEED */
    .menuFoto{ margin-left: 27%;}
    
};

@media screen and (max-height: 800px) {
    .feed{ height: auto; }
};
